{# Marketing pages: header, full-width content, footer. Pages own their containers. #}
{% extends "layouts/base.html" %}

{% block body %}
  <a href="#main" class="sr-only focus:not-sr-only focus:fixed focus:top-3 focus:left-3 focus:z-50 focus:rounded-md focus:bg-background focus:px-3 focus:py-2 focus:text-sm focus:font-medium focus:shadow-lg">Skip to content</a>
  {% include "partials/header.html" %}
  <main id="main">
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.html" %}
{% endblock %}
